/* Company Name Styling */
span > a {
  font-size: 24px;
  margin-left: 50px;
}

/* Stock Price Styling */
#stockPrice {
  margin-top: 3%;
}

.stockPrice {
  font-weight: 400;
  font-size: 26px;
}

.stockPriceMovement {
  margin-left: 1%;
}

.minus {
  color: red;
}

.plus {
  color: lightgreen;
}

/* Company Description Styling */
#stockDescription {
  margin-top: 3%;
  max-width: 36%;
  font-size: 18px;
}

/* Stock Price Graph Styling */
#myChart {
  max-width: 100%;
}

/* Loader Styling */
#loader.show {
  visibility: visible;
  height: 100px;
  width: 100px;
}

#loader.hide {
  display: none;
}
