/* Stock Comparison Title Styling */
span > a {
  font-size: 22px;
  margin-left: 6%;
  vertical-align: middle;
}

span > img {
  width: 15%;
  height: auto;
  vertical-align: middle;
}

.stockSectionTitleParent {
  vertical-align: middle;
}

.stockSectionTitleIndustry {
  font-size: 16px;
  color: gainsboro;
  vertical-align: middle;
}

.stockSectionPriceParent {
  margin-top: 5%;
}

/* Stock Comparison Price Styling */
.stockSectionPrice {
  font-weight: 400;
  font-size: 20px;
}

.stockSectionPriceMovement {
  font-size: 18px;
}

.minus {
  color: red;
}

.plus {
  color: lightgreen;
}

/* Stock Comparison Description Styling */
.stockSectionDescription {
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 60%;
  font-size: 14px;
}

/* Overall Compare Stocks Styling */
.title {
  font-size: 72px;
  font-weight: 500;
}

.card {
  display: inline-block;
}
