/* Loader Styling */
#loader.show {
    visibility: visible;
    height: 100px;
    width: 100px;
}

#loader.hide {
    display: none;
}

/* Search Results Styling */
.resultChildStyle {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#searchResults > div:not(:last-child) {
    border-bottom: 1px solid gainsboro;
    width: 82%;
}
